<footer class="footer">
    <div class="container">
        <div class="logo-footer">

           <a href="pages/index.html"><img src="assets/img/logo-footer.png" alt="Stray Kids Logo"></a>
            <div>

                <p>2024 © PAC 2 html sobre Stray Kids</p>
                <p>Actividad realizada por Aranzazu Fernandez</p>
            </div>
        </div>

       
       <!-- Botón de cierre inicialmente oculto  -->
       
        <nav id="footer-menu">
            <ul>

                <li><a href="pages/index.html">Inicio</a></li>
                <li><a href="pages/miembros.html">Miembros</a></li>
                <li><a href="pages/presentacion.html">Presentación</a></li>
                <li><a href="pages/links.html">Enlaces</a></li>

        </nav>
        <div class="contact">
            <ul>
                <li><a href="https://straykids.jype.com/">Sitio web oficial</a></li>
                <li><a href="mailto:info@straykids.com">Contacto</a></li>
            </ul>
        </div>

    



        

    </div>
</footer>