<!-- header.html -->
<header class="header">
    <div class="logo-header">
        <a href="../index.html"><img src="/assets/img/logo-header.png" alt="Stray Kids Logo" class="logo"></a>
        <h2 class="header-title">Grupo de K-Pop reconocido mundialmente</h2>
    </div>
    <nav id="main-menu">
        <button class="menu-toggle" aria-label="Abrir menú">☰</button>
        <button class="close-btn" aria-label="Cerrar menú" style="display: none;">&#10005;</button>
        <!-- Botón de cierre inicialmente oculto -->
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li class="dropdown">
                <a href="/pages/miembros.html">Miembros &#9662;</a>
                <ul class="submenu">
                    <li><a href="/pages/leeknow.html">Lee Know</a></li>
                    <li><a href="/pages/bangchan.html">Bang Chan</a></li>
                </ul>
            </li>
            <li><a href="/pages/presentacion.html">Presentación</a></li>
            <li><a href="/pages/links.html">Enlaces</a></li>
        </ul>
    </nav>
</header>